// Import core styles
@use '../../node_modules/@tweakpane/core/lib/sass/tp';

// Additional style for the plugin
.#{tp.$prefix}-lblv_l {
	display: none;
}

.#{tp.$prefix}-lblv_v {
	flex-grow: 1;
	width: 100%;
}

.#{tp.$prefix}-tnpv {
	// Extend a general input view style
	@extend %tp-input;

	height: 100%;

	&.#{tp.$prefix}-v-disabled {
		opacity: 0.5;
	}

	&_text {
		// You can use CSS variables for styling. See declarations for details:
		// ../../node_modules/@tweakpane/core/lib/sass/common/_defs.scss
		color: tp.cssVar('input-fg');

		font-size: 0.9em;
		line-height: 1.3;
		padding: 2px 4px;
	}
}
